form.core-search {
  text-align: center; }
  form.core-search #lookfor, form.core-search #defaultSearchButton {
    padding: 0 0.75em;
    height: 1.6em;
    line-height: 1.6em;
    border: none;
    vertical-align: middle; }
  form.core-search #lookfor {
    border-radius: 1.6em 0 0 1.6em;
    width: 70%; }
  form.core-search #defaultSearchButton {
    font-family: 'Roboto Slab', Rockwell, serif;
    font-weight: bold;
    transition: all 500ms ease-out;
    border-radius: 0 1.6em 1.6em 0;
    width: 20%; }
    form.core-search #defaultSearchButton:hover {
      background-color: #004263;
      color: white;
      text-decoration: none;
      text-shadow: 0 0 1em white; }
      form.core-search #defaultSearchButton:hover a {
        color: white;
        text-decoration: none;
        text-shadow: 0 0 1em white; }

#ezmenu-menu:not(.mm-opened), html.mm-opened div#menu-clipbox {
  display: none; }

nav#ezmenu-menu {
  text-indent: 0;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-kerning: 0;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-image: none;
  width: auto;
  height: auto;
  z-index: 99999999999999;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: normal; }
  nav#ezmenu-menu .mm-divider, nav#ezmenu-menu .mm-indexer a, nav#ezmenu-menu .mm-title {
    font-family: 'Roboto Slab', Rockwell, serif;
    font-weight: bold;
    color: #004263; }
  nav#ezmenu-menu .mm-divider, nav#ezmenu-menu input {
    background-color: rgba(0, 66, 99, 0.1); }
  nav#ezmenu-menu .mm-counter {
    font-family: 'Roboto Slab', Rockwell, serif;
    font-weigth: light;
    color: #004263; }
  nav#ezmenu-menu .mm-listview > li::after, nav#ezmenu-menu .mm-navbar {
    border-color: #004263; }
  nav#ezmenu-menu .mm-navbar a:hover {
    transition: all 500ms ease-out;
    color: #004263; }
  nav#ezmenu-menu .mm-ajax-loading {
    background: url(loading.gif) 97% 50% no-repeat; }
  nav#ezmenu-menu .mm-prev::before, nav#ezmenu-menu .mm-next::after, nav#ezmenu-menu .mm-arrow::after {
    border: 0.25em double #004263; }
  nav#ezmenu-menu .mm-prev::before {
    border-bottom: none;
    border-right: none; }
  nav#ezmenu-menu .mm-next::after, nav#ezmenu-menu .mm-arrow::after {
    border-top: none;
    border-left: none; }
  nav#ezmenu-menu .mm-listview > li > a.external {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODI2LjQyOSAtNjk4Ljc5MSkiPjxyZWN0IHdpZHRoPSI1Ljk4MiIgaGVpZ2h0PSI1Ljk4MiIgeD0iODI2LjkyOSIgeT0iNzAyLjMwOSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDZjIi8+PGc+PHBhdGggZD0iTTgzMS4xOTQgNjk4Ljc5MWg1LjIzNHY1LjM5MWwtMS41NzEgMS41NDUtMS4zMS0xLjMxLTIuNzI1IDIuNzI1LTIuNjg5LTIuNjg5IDIuODA4LTIuODA4LTEuMzExLTEuMzExeiIgZmlsbD0iIzA2ZiIvPjxwYXRoIGQ9Ik04MzUuNDI0IDY5OS43OTVsLjAyMiA0Ljg4NS0xLjgxNy0xLjgxNy0yLjg4MSAyLjg4MS0xLjIyOC0xLjIyOCAyLjg4MS0yLjg4MS0xLjg1MS0xLjg1MXoiIGZpbGw9IiNmZmYiLz48L2c+PC9nPjwvc3ZnPg==") 99% 50% no-repeat; }
    nav#ezmenu-menu .mm-listview > li > a.external.locked {
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODI2LjQyOSAtNjk4Ljc5MSkiPjxyZWN0IHdpZHRoPSI1Ljk4MiIgaGVpZ2h0PSI1Ljk4MiIgeD0iODI2LjkyOSIgeT0iNzAyLjMwOSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDZjIi8+PGc+PHBhdGggZD0iTTgzMS4xOTQgNjk4Ljc5MWg1LjIzNHY1LjM5MWwtMS41NzEgMS41NDUtMS4zMS0xLjMxLTIuNzI1IDIuNzI1LTIuNjg5LTIuNjg5IDIuODA4LTIuODA4LTEuMzExLTEuMzExeiIgZmlsbD0iIzA2ZiIvPjxwYXRoIGQ9Ik04MzUuNDI0IDY5OS43OTVsLjAyMiA0Ljg4NS0xLjgxNy0xLjgxNy0yLjg4MSAyLjg4MS0xLjIyOC0xLjIyOCAyLjg4MS0yLjg4MS0xLjg1MS0xLjg1MXoiIGZpbGw9IiNmZmYiLz48L2c+PC9nPjwvc3ZnPg==") 99% 50% no-repeat, url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+CjxwYXRoIGQ9Im0zLDl2MTFoMTRWOU00LDlWNmMwLTMuMyAyLjctNiA2LTZjMy4zLDAgNiwyLjcgNiw2djNIMTRWNmMwLTIuMi0xLjgtNC00LTQtMi4yLDAtNCwxLjgtNCw0djMiLz4KPC9zdmc+Cg==") 93% 50% no-repeat; }
  nav#ezmenu-menu #go-librecommended li span {
    text-shadow: 0 0 1em white;
    padding-left: 4.25em; }
    nav#ezmenu-menu #go-librecommended li span.logo-one {
      background: url(one.png) -1em center no-repeat; }
    nav#ezmenu-menu #go-librecommended li span.logo-two {
      background: url(two.png) -1em center no-repeat; }

#ezmenu-button {
  transition: all 500ms ease-out;
  background: rgba(0, 66, 99, 0.1);
  left: -0.6em;
  top: 86%;
  width: 4em;
  padding-left: 0.6em;
  height: 3.3em;
  position: fixed;
  z-index: 99999999999999;
  border-radius: 0.5em;
  text-align: center;
  border: 1px solid rgba(0, 66, 99, 0.5); }
  #ezmenu-button:hover {
    background-color: #004263;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1em white; }
    #ezmenu-button:hover a {
      color: white;
      text-decoration: none;
      text-shadow: 0 0 1em white; }
  #ezmenu-button a {
    font-family: 'Roboto Slab', Rockwell, serif;
    font-weight: bold;
    text-decoration: none;
    line-height: 3.3em;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    border: none; }

div#bo_contentwrapper.bo_column-layout-3 {
  margin-top: 165px; }
